.resist
  .resist__body
    .resist__body__content
      %h2 ログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .resist__body__content__mail
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .resist__body__content__pass
          = f.label :パスワード
          %br/
          = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .resist__body__content__rem
            = f.check_box :remember_me
            = f.label :次回から自動でログイン
        .resist__body__content__sub
          = f.submit "ログイン"
      = render "devise/shared/links"
