.itemBody
  .itemBody__main
    - if flash[:errors].present?
      %ul.errors
        - flash[:errors].each do |error|
          %p
            %i
              = "* #{error}"
    = form_with(model: @post, local: true,class: "itemBody__main__form") do |f|
      .itemBody__main__form__title
        .itemBody__main__form__title__box
          = f.label :title, "タイトル ",class: "itemBody__main__form__title__box__label"
          .itemBody__main__form__title__box__must
            必須
        .itemBody__main__form__title__field
          = f.text_field :title, placeholder: "40字まで", maxlength: "40",class: "itemBody__main__form__title__field__aaa"
      .itemBody__main__form__category
        .itemBody__main__form__category__box
          = f.label :category_id, "エリア選択",class: "itemBody__main__form__category__box__label"
          .itemBody__main__form__category__box__must 
            必須
        .itemBody__main__form__category__field
          = f.select :aaa, options_for_select(@parents.map{|c|[c[:name], c[:id]]}), {include_blank: '選択して下さい'}, {id: 'parentsArea'}
      .itemBody__main__form__headerImage 
        .itemBody__main__form__headerImage__box
          .itemBody__main__form__headerImage__box__text
            投稿ヘッダー画像
          .itemBody__main__form__headerImage__box__must
            必須
        .itemBody__main__form__headerImage__pre
          %img#previeww/
        .itemBody__main__form__headerImage__zone
          = f.label :header_image, "画像",class: "itemBody__main__form__headerImage__zone__set__label" do
            %i.fas.fa-camera.fa-2x#img_file
              = f.file_field :header_image, class: "itemBody__main__form__headerImage__zone__set__label__field", style: "display: none"

      .itemBody__main__form__image
        .itemBody__main__form__image__set
          .itemBody__main__form__image__set__text
            画像
          .itemBody__main__form__image__set__must
            ※4枚まで選択可能
        .itemBody__main__form__image__box#image-box__container
          -# - if @images
          -#   .itemBody__main__form__image__box__obs
          -#     = image_tag @images[0].image.url ,id: "preview0", size: "100x95"
          -#     - if @images.count >= 2
          -#       - for i in 1..(@images.count-1)
          -#         = image_tag @images[i].image.url ,id: "preview#{i}", size: "100x95"
          -# - else
          .itemBody__main__form__image__box__obs
            %img#preview0/
            = hidden_field_tag :"#preview0", true
            %img#preview1/
            = hidden_field_tag :"#preview1", true
            %img#preview2/
            = hidden_field_tag :"#preview2", true
            %img#preview3/
            = hidden_field_tag :"#preview3", true
        .itemBody__main__form__image__boxes
          = f.fields_for :images,class: "itemBody__main__form__image__box__form" do |i|
            .itemBody__main__form__image__boxes__set
              = i.label :picture, "画像",class: "itemBody__main__form__image__box__form__set__label" do
                %i.fas.fa-camera.fa-2x#img_file
                  = i.file_field :picture,class: "itemBody__main__form__image__box__form__set__field", style: "display: none"
        -# .itemBody__main__form__image__del
        -#   %button{id: "item_image_delete0", type: "button"}削除
        -#   %button{id: "item_image_delete1", type: "button"}削除
        -#   %button{id: "item_image_delete2", type: "button"}削除
        -#   %button{id: "item_image_delete3", type: "button"}削除
      .itemBody__main__form__content
        .itemBody__main__form__content__box
          = f.label :content, "説明",class: "itemBody__main__form__content__box__label"
          .itemBody__main__form__content__box__must
            必須
        .itemBody__main__form__content__field
          = f.text_area :content,cols:"110", rows:"21", maxlength:'1000', placeholder:"お店・料理の説明（場所、予算、注意点など ※1,000文字以内）\n\n 例）\n店名:ラーメン屋さん\n\n場所:バンコクのスクンビット通り、ソイ13にあります\n\n予算:1人約500バーツ\n\n塩ラーメンがおいしかったです！"
      = f.submit "投稿する", class: "itemBody__main__form__exhibition"
    -if params[:acion] == "edit"
      = link_to "items/#{@item.id}",method: :delete, data: { confirm:"商品を削除してよろしいですか?" } do
        %button{class: "itemBody__main__form__delete", type: "submit"}削除
    %br/
    .itemBody__main__back
      = link_to "もどる", :back,class: "itemBody__main__back__btn"