.productBody
  .productBody__main
    - if flash[:errors].present?
      %ul.errors
        - flash[:errors].each do |error|
          %p
            %i
              = "* #{error}"
    = form_with(model: @item, local: true,class: "productBody__main__form") do |f|
      .productBody__main__form__image
        .productBody__main__form__image__set
          %span.productBody__main__form__image__set__text
            画像
          %span.productBody__main__form__image__set__must
            必須
          ※１枚以上
        .productBody__main__form__image__box
          = f.fields_for :images,class: "productBody__main__form__image__box__form" do |i|
            .productBody__main__form__image__box__form__set
              = i.label :image, "画像",class: "productBody__main__form__image__box__form__set__label" do
                %i.fas.fa-camera.fa-5x
                = i.file_field :image,class: "productBody__main__form__image__box__form__set__field", style: "display: none"
      .productBody__main__form__nameArea
        .productBody__main__form__nameArea__box
          = f.label :name, "商品名",class: ".productBody__main__form__nameArea__box__label"
          .productBody__main__form__nameArea__box__must 必須
        .productBody__main__form__nameArea__field
          = f.text_field :name, placeholder: "40字まで", maxlength: "40",class: ".productBody__main__form__nameArea__field__aaa"
      .productBody__main__form__explanation
        .productBody__main__form__explanation__box
          = f.label :explannation, "商品の説明",class: ".productBody__main__form__explanation__box__label"
          .productBody__main__form__explanation__box__must 必須
        .productBody__main__form__explanation__field
          = f.text_area :explannation, placeholder:"商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n 例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      %p 商品の詳細
      .productBody__main__form__category
        .productBody__main__form__category__box
          = f.label :category_id, "カテゴリー",class: ".productBody__main__form__category__box__label"
          .productBody__main__form__category__box__must 必須
        .productBody__main__form__category__field
          = f.select :category, options_for_select(@parents.map{|c|[c[:name], c[:id]]}), {include_blank: '選択して下さい'}, {id: 'parentsArea'}
      .productBody__main__form__brand
        .productBody__main__form__brand__box
          = f.label :brand_name, "ブランド名",class: ".productBody__main__form__brand__box__label"
          .productBody__main__form__brand__box__mustGray 任意
        .productBody__main__form__brand__field
          = f.text_field :brand_name, placeholder: "例) シャネル", maxlength: "40", value: @brand_name
      .productBody__main__form__status
        .productBody__main__form__status__box
          = f.label :status, "商品の状態",class: ".productBody__main__form__status__box__label"
          .productBody__main__form__status__box__must 必須
        .productBody__main__form__status__field
          = f.select :status, ['新品、未使用', '未使用に近い', '目立った傷や汚れなし', 'やや傷や汚れあり', '傷や汚れあり', '全体的に状態が悪い'], {include_blank: '選択して下さい'}
      .productBody__main__form__size
        .productBody__main__form__size__box
          = f.label :size, "サイズ",class: "productBody__main__form__size__box__label"
          .productBody__main__form__size__box__must 必須
        .productBody__main__form__size__field
          = f.text_field :size, maxlength: "40"
      %p 配送について
      .productBody__main__form__burden
        .productBody__main__form__burden__box
          = f.label :shipper, "配送料の負担",class: "productBody__main__form__burden__box__label"
          .productBody__main__form__burden__box__must 必須
        .productBody__main__form__burden__field
          = f.select :shipper, [['送料込み(出品者負担)', true], ['着払い(購入者負担)', false]], {include_blank: '選択して下さい'}
      .productBody__main__form__days
        .productBody__main__form__days__box
          = f.label :lead_time, "発送までの日数",class: "productBody__main__form__days__box__label"
          .productBody__main__form__days__box__must 必須
        .productBody__main__form__days__box__field
          = f.select :lead_time, [['1~2日で発送', 0], ['2~3日で発送', 1],['4~7日で発送', 2]], {include_blank: '選択して下さい'}
      %p 価格（¥300〜9,999,999）
      = f.submit "出品する", class: "productBody__main__form__exhibition"
    = link_to "#" do
      %button{class: "productBody__main__form__draft", type: "submit"}下書きに保存
    -if params[:acion] == "edit"
      = link_to "items/#{@item.id}",method: :delete, data: { confirm:"商品を削除してよろしいですか?" } do
        %button{class: "productBody__main__form__delete", type: "submit"}削除
    %br/
    .productBody__main__back
      = link_to "もどる", :back,class: "productBody__main__back__btn"
    .productBody__main__notes
      禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。