.itemBody
  .itemBody__main
    - if flash[:errors].present?
      %ul.errors
        - flash[:errors].each do |error|
          %p
            %i
              = "* #{error}"
    = form_with(model: @post, local: true,class: "productBody__main__form") do |f|
      .itemBody__main__form__title
        .itemBody__main__form__title__box
          = f.label :title, "タイトル",class: ".productBody__main__form__title__box__label"
          .itemBody__main__form__nameArea__box__must
        .itemBody__main__form__title__field
          = f.text_field :title, placeholder: "40字まで", maxlength: "40",class: ".productBody__main__form__title__field__aaa"
      .itemBody__main__form__category
        .itemBody__main__form__category__box
          = f.label :category_id, "カテゴリー",class: ".itemBody__main__form__category__box__label"
          .itemBody__main__form__category__box__must 必須
        .itemBody__main__form__category__field
          = f.select :aaa, options_for_select(@parents.map{|c|[c[:name], c[:id]]}), {include_blank: '選択して下さい'}, {id: 'parentsArea'}
      .itemBody__main__form__headerImage 
        投稿ヘッダー画像
        = f.file_field :header_image, class: ".productBody__main__form__headerImage__field"
      .itemBody__main__form__image
        .itemBody__main__form__image__set
          %span.itemBody__main__form__image__set__text
            画像
          %span.itemBody__main__form__image__set__must
            必須
          ※１枚以上
        .itemBody__main__form__image__box#image-box__container
          - if @images
            .item-image
              = image_tag @images[0].image.url ,id: "preview0", size: "100x95"
              - if @images.count >= 2
                - for i in 1..(@images.count-1)
                  = image_tag @images[i].image.url ,id: "preview#{i}", size: "100x95"
          - else
            .item-image
              %img#preview0/
              %img#preview1/
              %img#preview2/
        .itemBody__main__form__image__boxes
          = f.fields_for :images,class: "itemBody__main__form__image__box__form" do |i|
            .itemBody__main__form__image__boxes__form__set
              = i.label :picture, "画像",class: "itemBody__main__form__image__box__form__set__label" do
                %i.fas.fa-camera.fa-2x#img_file
                  = i.file_field :picture,class: "itemBody__main__form__image__box__form__set__field"
      .itemBody__main__form__content
        .productBody__main__form__content__box
          = f.label :content, "説明",class: ".productBody__main__form__content__box__label"
          .productBody__main__form__content__box__must
        .productBody__main__form__content__field
          = f.text_area :content,cols:"110", rows:"21", maxlength:'1000', placeholder:"お店・料理の説明（必須 1,000文字以内）\n（場所、お値段、注意点など）\n\n 例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      = f.submit "投稿する", class: "itemBody__main__form__exhibition"
    -if params[:acion] == "edit"
      = link_to "items/#{@item.id}",method: :delete, data: { confirm:"商品を削除してよろしいですか?" } do
        %button{class: "productBody__main__form__delete", type: "submit"}削除
    %br/
    .productBody__main__back
      = link_to "もどる", :back,class: "productBody__main__back__btn"